.eco-footprint-not-found {
  &-title {
    color:#766bd3;
    background-color: #e9fcff;
    margin: 0px;
    text-align: center;
    padding: 15px 0px 0px 0px;

  }
  &-image {
    width: 100%;
  }
}
body {
  background: blue !important;
}
