<div class="eco-action-list">

  <div class="eco-action-list-chart">

    <div class="eco-action-list-chart-options">
      <mat-selection-list #selectedEcoActions (selectionChange)="onChange('transport', selectedEcoActions.selectedOptions.selected)">
        <mat-tab-group mat-align-tabs="start">
          <div *ngFor="let type of ecoActionsTypes">
            <mat-tab [label]="type.label">
              <div *ngFor="let ecoAction of ecoActions">
                <mat-list-option *ngIf="ecoAction.categoryType === type.id" [value]="ecoAction">
                  <div class="eco-action-list-chart-options-option" >
                    <span
                      class="eco-action-list-chart-options-option-co2e"
                      co2eColor [defaultColor]="'#d9d9d9'" [highLightColor]="'#ff4081'" [isHighLighted]="isSelected(selectedEcoActions, ecoAction.id)"
                    >{{ecoAction.co2e}} co2e</span> {{ecoAction.description}}
                  </div>
                </mat-list-option>
              </div>
            </mat-tab>
          </div>
        </mat-tab-group>
      </mat-selection-list>
    </div>

    <app-eco-actions-bar [ecoActions]="getCurrentEcoActions(selectedEcoActions)" [barStyle]="getCurrentBarStyle(getCurrentEcoActions(selectedEcoActions))" [totalBar]="totalBar" [ticks]="ticks"></app-eco-actions-bar>

  </div>

</div>

