<div class="eco-footprint-detail">
  <div class="eco-footprint-box-loading">
    <div *ngIf="!isLoading && ecoFootprint" class="eco-footprint-detail-content">
      <!-- <a routerLink="/list" class="eco-footprint-detail-content-back">
        <button mat-raised-button color="warn" aria-label="Back to list">
          <mat-icon>arrow_back</mat-icon> Back
        </button>
      </a> -->
      <div class="eco-footprint-detail-content-userinfo">
        <div mat-card-avatar class="eco-footprint-detail-content-userinfo-avatar"></div>
        <div *ngIf="ecoFootprint.firstName" class="eco-footprint-detail-content-userinfo-name">
          {{ ecoFootprint.firstName }} {{ ecoFootprint.lastName }}
        </div>
        <div *ngIf="ecoFootprint.description" class="eco-footprint-detail-content-userinfo-description">
          <br/>
          {{ ecoFootprint.description }}
        </div>
        <img mat-card-image class="eco-footprint-detail-content-userinfo-image" *ngIf="ecoFootprint.photo" [src]="photoURL" alt="Profile photo">
      </div>
      <div *ngIf="ecoActions && ecoActions.length > 0" class="eco-footprint-detail-content-footprintinfo">
        <h2>ECO Actions </h2>
        <ul class="eco-footprint-detail-content-ecoActions">
          <li *ngFor="let ecoAction of ecoActions">
            <span *ngIf="ecoAction"> {{ ecoAction.description }} </span> - <span *ngIf="ecoAction" class="eco-footprint-detail-content-footprintinfo-ecoActions-co2e"> {{ ecoAction.co2e }} co2e </span>
          </li>
        </ul>
        <app-eco-actions-bar [ecoActions]="ecoActions" [barStyle]="barStyle" [totalBar]="totalBar" [ticks]="ticks"></app-eco-actions-bar>
      </div>
    </div>
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
  </div>
