.eco-footprint-detail {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 80%;
  min-height: 30vh;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  padding: 5%;
  top: 10px;
  &-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &-back {
      position: absolute;
      top: 16px;
      right: 16px;
    }
    &-userinfo {
      min-width: 50%;
      &-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
        margin-bottom: 10px;
      }
      &-name {
        color: #d9d9d9;
      }
      &-description {
        font-size: 18px;
      }
      &-image {
        max-width: 100%;
        max-height: 200px;
        width: auto;
        margin: auto;
        margin-top: 20px;
        border-radius: 15px;
      }
    }
    &-footprintinfo {
      min-width: 50%;
      &-ecoActions {
        padding: 0px 20px;
        margin: 0px;
        &-co2e {
          font-size: 12px;
          white-space: nowrap;
        }
        li {
          list-style: none;
        }
      }
    }
  }
}
