<a routerLink="/"  class="eco-footprint-title">
  <h1>{{title}}</h1>
</a>
<nav class="eco-footprint-nav">
  <a routerLink="/new">
    <button mat-raised-button color="accent" aria-label="New eco footprint">
      New ECO Footprint <mat-icon>fingerprint</mat-icon>
    </button>
  </a>
  <a routerLink="/list">
    <button mat-raised-button color="accent" aria-label="New eco footprint">
      ECO Footprint list <mat-icon>list </mat-icon>
    </button>
  </a>
</nav>

<main [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</main>
