.eco-footprint-login {
  text-align: center;
  &-form {
    margin-top: 50px;
    .mat-form-field, button {
      max-width: 100%;
      width: 300px;
    }
    button {
      margin-top: 20px
    }
  }
}
