<div class="eco-footprint-login">
  <h2 class="eco-footprint-login-title">This is a FAKE login, please introduce your "credentials" 🤫</h2>
  <form [formGroup]="signinForm" class="eco-footprint-login-form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="emailErrorMessage">{{emailErrorMessage}}</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="passwordErrorMessage">{{passwordErrorMessage}}</mat-error>
    </mat-form-field>
    <br/>
    <button mat-flat-button color="primary" type="submit" [disabled]="signinForm.pristine">Sign in</button>
  </form>
</div>
