.eco-footprint-list {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &-item {
    margin: 15px;
    padding: 20px;
    border: 2px solid lightgreen;
    border-radius: 10px;
    position: relative;
    &-delete {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  mat-spinner {
    margin-top: 150px;
  }
}
