.eco-footprint-list {
  width: 100%;
  padding: 30px;
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  &-card {
    &:hover .eco-footprint-list-card-delete {
      display: block;
    }
    &-delete {
      position: absolute;
      right: 10px;
      top: 10px;
      display: none;
    }
  }
  mat-spinner {
    margin-top: 150px;
  }
  &-card {
    max-width: 300px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 1px -1px #ff4081, 0px 1px 1px 0px #ff4081, 0px 1px 3px 0px #ff4081;
    }
    &:active {
      outline: none;
    }
    &-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
    &-header-description {
      min-height: 17px;
    }
  }
}


